<!doctype html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="alien.png" id='link'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>The xp chatter Discord Bot</title>
  <style>
    .code {
      color: purple;
      border-radius: 10%;
      background-color: lightgray;
    }
    body {
      color: aqua;
      background-color: purple;
      font-family: monospace;
    }
    .minicode {
      color: red;
      border-radius: 10%;
      background-color: darkgray;
    }
    .none {
      color: red;
    }
  </style>
</head>
<body>
  <h1>The xp chatter Bot</h1>
  <h3>Bot info</h3>
  <p>Prefix: <span class='code'>^<span></p>
  <p>Invite link: <a href='https://discord.com/api/oauth2/authorize?client_id=804197228390514799&permissions=2081422583&scope=bot'>https://discord.com/api/oauth2/authorize?client_id=804197228390514799&permissions=2081422583&scope=bot</a></p>
  <p><span class='divider'></span></p>
  <h3>start</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Create a profile for yourself.</p>
  <p><span class='divider'></span></p>
  <h3>get</h3>
  <p>Params: <span class='minicode'>XP</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Gain XP.</p>
  <p><span class='divider'></span></p>
  <h3>prof</h3>
  <p>Params: <span class='minicode'>user(optional)</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: View user's profile. If user is not given, view your own.</p>
  <p><span class='divider'></span></p>
  <h3>rem</h3>
  <p>Params: <span class='minicode'>user XP</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Remove XP from user. This is whitelisted to Admins.</p>
  <p><span class='divider'></span></p>
  <h3>feedback</h3>
  <p>Params: <span class='minicode'>feedback</span></p>
  <p>Aliases: <span class='minicode'>fdbk</span></p>
  <p>Description: Give feedback about the bot. You can also use this to suggest things to add to the bot.</p>
  <p><span class='divider'></span></p>
  <h3>leader</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Show the global leaderboard(This is currently under construction).</p>
  <p><span class='divider'></span></p>
  <h3>fight</h3>
  <p>Params: <span class='minicode'>user</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Fight another user for XP. The fighting is done by the bot.</p>
  <p><span class='divider'></span></p>
  <h3>roll</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Roll a dice to gain or lose XP.</p>
  <p><span class='divider'></span></p>
  <h3>daily</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Collect your daily reward.</p>
  <p><span class='divider'></span></p>
  <h3>shop</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Show the shop.</p>
  <p><span class='divider'></span></p>
  <h3>buy</h3>
  <p>Params: <span class='minicode'>item</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Buy item from the shop.</p>
  <p><span class='divider'></span></p>
  <h3>buy</h3>
  <p>Params: <span class='minicode'>item</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Buy item from the shop.</p>
  <p><span class='divider'></span></p>
  <h3>prefix</h3>
  <p>Params: <span class='minicode'>prefix</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Set your server's custom prefix to prefix.</p>
  <p><span class='divider'></span></p>
  <h3>reset</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Reset your profile. You will be asked again for confirmation.</p>
  <p><span class='divider'></span></p>
  <h3>change_status</h3>
  <p>Params: <strong class='none'>None</strong></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Change the bot's status.</p>
  <script>
    for(var i = 0; i < document.getElementsByClassName('divider').length; i++) {
      document.getElementsByClassName('divider')[i].innerHTML = '------------------------------'
    }
  </script>
</body>
</html>