:root {
  --bgimg: linear-gradient(to right, lightblue, purple);
}
body {
  font-family: sans-serif;
}
body {
  background-image: var(--bgimg);
}
td, th {
  border: 1px black solid;
}
.flashbox {
  width: 12.5%;
}
.center {
  text-align: center;
}
#mealplanframe {
  display: none;
  width: 90vw;
  height: 70vh;
}
#recipe {
  font-weight: bold;
}
tbody tr td:hover {
  background-color: #858585;
  cursor: pointer;
}
.logoutbtn {
  float: right;
  vertical-align: middle;
}