<!doctype html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="alien.png" id='link'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>The aLiEnS discord bot</title>
  <style>
    body {
      background-color: black;
      color: lightgreen;
      font-family: monospace;
    }
    a:hover {
      color: aqua;
    }
    a:visited {
      color: brown;
    }
    #title {
      text-align: center;
    }
    .code, .minicode {
      font-family: monospace;
      color: green;
      background-color: lightgray;
      border-radius: 10%
    }
    .none {
      color: red;
    }
    .aliases {
      font-family: monospace;
      color: red;
      background-color: gray;
      border-radius: 10%
    }
  </style>
</head>
<!--me, happy, sad, help, echo, spam, greet, prefix, invite, scream-->
<body>
  <h1 id='title'>The aLiEnS Discord bot</h1>
  <p>Prefix: <span class='code'>~</span></p>
  <p>Description: This bot was made for random functions. No actual topic.</p>
  <p>--------------------------------------------------</p>
  <h2>Commands</h2>
  <p>Name: <span class='code'>backwards <em>text</em></span></p>
  <p>Aliases: <span class='aliases'>bkwds</span></p>
  <p>Description: This command takes <span class='minicode'>text</span> and sends it backwards.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>me</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends info about the bot.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>happy</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: :)</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>sad</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: :(</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>echo <em>text</em></span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Send <span class='minicode'>text</span>.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>spam <em>text count</em></span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends <span class='minicode'>text</span> <span class='minicode'>count</span> times. <span class='minicode'>count</span> must be 3 digits. If you want a two or one digit number, use leading zeros.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>greet</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: Greet you.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>prefix <em>prefix</em></span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command changes the prefix to <span class='minicode'>prefix</span>. That prefix must be used in all servers.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>invite</p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends an invite to the discord server. It also sends a bot invite link.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>scream <em>text</em></span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends <span class='minicode'>text</span> screaming.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>countdown <em>count</em></span></p>
  <p>Aliases: <span class='aliases'>ctdwn</span></p>
  <p>Description: This command sends a <span class='minicode'>count</span> countdown. <span class='minicode'>count</span> must be 3 digits. If you want a two or one digit number, use leading zeros.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>weird pic</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends a random meme.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>dm</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends you a dm from the bot.</p>
  <p>--------------------------------------------------</p>
  <p>Name: <span class='code'>my stuff</span></p>
  <p>Aliases: <strong class='none'>None</strong></p>
  <p>Description: This command sends your name, tag, and profile picture</p>
  <p>--------------------------------------------------</p>
  <script>
  </script>
</body>
</html>